mat-dialog-content {
    padding-top: 10px !important;
}

.progress-bar {
    position: relative;

    mat-progress-bar {
        position: absolute;
        top: 0;
    }
}

input[type=number] {
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}