.mat-drawer-content{
    overflow: unset !important;
    overflow-x: hidden !important;
}

.mat-drawer-container{
    height: 100vh;

    .menu-icon{
        cursor: pointer;
        margin-right: 10px;
        transition: all 125ms ease-in-out;
        
        &:hover{
            filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.527));
        }
    }
    
    .sidenav{
        width: 300px;
    
        .logo-container{
            display: flex;
            align-items: center;
            min-height: 56px;
            border-bottom: 1px solid rgb(226, 226, 226);
            padding-left: 16px;
            padding-right: 16px;

            .logo{
                max-width: 100%;
                height: 48px;
            }

            .menu-icon-nav{
                display: none;
                cursor: pointer;
                margin-right: 10px;
                transition: all 125ms ease-in-out;
                
                &:hover{
                    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.527));
                } 
            }
        }

        .menu-items{
            list-style-type: none;
            padding: 0;
            margin: 0;

            li{
                padding-left: 16px;
                padding-right: 16px;
                height: 48px;
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;
                transition: all 125ms ease-in-out;

                &:hover{
                    background-color: rgba(67, 1, 182, 0.1);
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.212);
                }

                &:focus{
                    outline: none;
                }
            }
        }
    }
    
    .sidenav-content{
        overflow-x: hidden;

        .router-container{
            display: flex;
            height: calc(100vh - 72px);
            width: calc(100vw - 412px);
            max-width: 1440px;
            padding-left: 56px;
            padding-right: 56px;
            padding-top: 16px;
            transition: all 300ms ease-in-out;
            position: relative;
        }

        .name{
            display: none;
            transition: all 1000ms ease-in-out;
        }
    }
    
    .mat-toolbar{
        min-height: 56px;
        max-height: 56px;
        height: 56px;
    }
    
    .mat-toolbar-multiple-rows{
        min-height: 56px;
        max-height: 56px;
        height: 56px;
    }
}

@media (max-width: 420px){
    .router-container{
        width: calc(100vw - 40px) !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        justify-content: center;
    }

    .menu-icon-nav{
        display: flex;
    }
}