<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer [opened]="true" #drawer class="sidenav" mode="side">
    <div class="logo-container">PLatz für LOGO</div>

    <ul class="menu-items">
      <li><mat-icon>space_dashboard</mat-icon> Dashbord</li>
      <li><mat-icon>person</mat-icon> User</li>
    </ul>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon class="menu-icon" mat-button (click)="drawer.toggle()">menu.open</mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

</mat-drawer-container>
<router-outlet></router-outlet>