<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer [opened]="true" #drawer class="sidenav" mode="side">
    <div class="logo-container">
      <img class="logo" src="assets/img/logo/scrm.png">
    </div>

    <ul class="menu-items">
      <li (click)="changeSite('/')"><mat-icon>space_dashboard</mat-icon> Dashbord</li>
      <li (click)="changeSite('/user')"><mat-icon>person</mat-icon> User</li>
    </ul>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="menu-icon" mat-button (click)="drawer.toggle(); changeWidth()">menu.open</mat-icon>
        <span *ngIf="name" class="name" #name>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container" #site>
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>