<div class="userInfo" #userInfo>
    <button (click)="backToList()" class="add-user-btn" [matTooltipPosition]="'below'" matTooltip="Back to List" mat-fab
    color="primary">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-icon-button class="pin-right colorChange userEditIcon" (click)="userDetailEdit()">
    <mat-icon>mode_edit</mat-icon>
  </button>
  <mat-card class="cardHeader" appearance="outlined">
    <img src="assets/img/avatar/avatar_men.png" class="avatarIMG">
    <div class="userData">
      <h2>{{users.firstName}} {{users.lastName}}</h2>
      <p>Company-Nr.: {{users.kdnr}}</p>
      <p>Birthday: {{bDay}}</p>
    </div>
  </mat-card>

  <mat-card class="userDetails mt-16">
    <button mat-icon-button class="pin-right userEditIcon" (click)="userAdressEdit()">
      <mat-icon>mode_edit</mat-icon>
    </button>
    <mat-card-header>
      <mat-card-title>{{ company }} Adress</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr #companyCheck>
          <td>
            {{companyAdress}}
          </td>
        </tr>
        <tr>
          <td>{{users.street}}</td>
        </tr>
        <tr>
          <td>{{users.zipCode}} {{users.city}}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card class="userDetails mt-16">
    <button mat-icon-button class="pin-right userEditIcon" (click)="userAdressEdit()">
      <mat-icon>mode_edit</mat-icon>
    </button>
    <mat-card-header>
      <mat-card-title>Contact</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr>
          <td>
            <a href="mailto:{{ users.email}}">{{ users.email}}</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="tel:{{users.telephone}}">{{users.telephone}}</a>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>