<div class="userInfo" #userInfo>
    <button (click)="backToList()" class="add-user-btn" [matTooltipPosition]="'below'" matTooltip="Back to List" mat-fab
    color="primary">
    <mat-icon>close</mat-icon>
  </button>
  <mat-card class="cardHeader" appearance="outlined">
    <img src="assets/img/avatar/avatar_men.png" class="avatarIMG">
    <div class="userData">
      <h2>{{users.firstName}} {{users.lastName}}</h2>
      <p>{{users.email}}</p>
    </div>
  </mat-card>

  <mat-card class="userDetails mt-16">
    <mat-card-header>
      <mat-card-title>Adress</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{users.street}}<br>
      {{users.zipCode}} {{users.city}}
    </mat-card-content>
  </mat-card>
</div>