.userInfo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateX(100vw);
    transition: all 250ms ease-in-out;
}

.add-user-btn{
    position: absolute;
    left: 0;
    top: 0;
}