<div class="list" #userList>
  <mat-card appearance="outlined">
    <mat-card-content>
      <table class="user-table">
        <tr>
          <th>Company</th>
          <th>Name</th>
          <th>E-Mail</th>
          <th>City</th>
        </tr>
        @for (userData of users; track userData; let i = $index) {
        <tr (click)="openUser(i)">
          <td>{{userData.company}}</td>
          <td>{{userData.firstName}} {{userData.lastName}}</td>
          <td>{{userData.email}}</td>
          <td>{{userData.city}}</td>
        </tr>
        }
      </table>
      <div [ngClass]="isCustomer ? 'show' : 'noShow'">No Customer</div>
    </mat-card-content>
  </mat-card>
  <button (click)="openDialog()" class="add-user-btn" [matTooltipPosition]="'above'" matTooltip="Add new User" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>