<mat-card appearance="outlined">
    <mat-card-header class="topMargin">Customer</mat-card-header>
    <mat-card-content><mat-icon>person</mat-icon> {{ userId.length}} Customer</mat-card-content>
    <mat-card-header class="topMargin">Newest customer:</mat-card-header>
    <mat-card-content (click)="goToCustomer()" [ngClass]="isLastCustomer ? 'lastCustomer' : 'noCustomer'">{{ lastCustomer}}</mat-card-content>
    <mat-card-footer (click)="allCustomer('/user')">Show all Customer</mat-card-footer>
  </mat-card>